# MySQL

## Create database tables

* You can create many database in a database server.
* USE:  all the statement will base on 'csc317db'.
* UNIQUE: duplicate information, for example name, is not allowed to insert

CREATE DATABASE IF NOT EXISTS `csc317db`;
USE `csc317db`;

CREATE TABLE IF NOT EXISTS `csc317db`.`users`(
	`id`  INT NOT NULL AUTO_INCREMENT,
    `username` VARCHAR(64) NOT NULL,
	`email` VARCHAR(128) NOT NULL,
    `password` VARCHAR(128) NOT NULL,
    `usertype` INT NOT NULL DEFAULT 0,
    `active` INT NOT NULL DEFAULT 0,
    `created` DATETIME NOT NULL,
    
    PRIMARY KEY(`id`),
    UNIQUE INDEX `id_UNIQUE`(`id` ASC) VISIBLE,
    UNIQUE INDEX `username_UNIQUE` (`username` ASC) VISIBLE,
    UNIQUE INDEX `email_UNIQUE` (`email` ASC) VISIBLE)
ENGINE = innoDB;

CREATE TABLE IF NOT EXISTS `csc317db`.`posts`(
	`id`  INT NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(128) NOT NULL,
	`description` VARCHAR(4096) NOT NULL,
    `photopath` VARCHAR(4096) NOT NULL,
    `thumbnail` VARCHAR(4096) NOT NULL,
    `active` INT NOT NULL DEFAULT 0,
    `created` DATETIME NOT NULL,
    `fk_userid` INT NOT NULL,
    
    PRIMARY KEY(`id`),
    UNIQUE INDEX `id_UNIQUE`(`id` ASC) VISIBLE,
    INDEX `posts to users_idx` (`fk_userid` ASC) VISIBLE,
	CONSTRAINT `posts to users`
		FOREIGN KEY (`fk_userid`)
        REFERENCES `csc317db`.`users` (`id`)
        ON DELETE CASCADE
        ON UPDATE CASCADE)
ENGINE = innoDB;

## Inseart data

INSERT INTO `csc317db`.`posts`
(`title`,
`description`,
`photopath`,
`thumbnail`,
`created`,
`fk_userid`)
VALUES
("dog",
"This is my dog!!!!",
"images/dog.png",
"image/thumbnails/dog.png",
now(),
7);



INSERT INTO `csc317db`.`users`
(
`username`,
`email`,
`password`,
`created`)
VALUES
(
"ivy",
"fack@1223.com",
"000",
now());

## Sift data

# show `users` table
SELECT * FROM csc317db.users;

# INSERT INTO tableName(colums, ..., colums) VALUE (); 
INSERT INTO users(`username`, `email`, `password`, `created`) VALUES ("ivy", "test@email.com", "1234", now());

# SELECT
 SELECT * FROM csc317db.users WHERE username="test2";

# UPDATE
UPDATE `csc317db`.`users`
SET
`username` = "bob"
WHERE id=7;

# DELETE
DELETE FROM `csc317db`.`users`
WHERE username='test2';

# drop database
DROP DATABASE `csc317db`;

## Join tables together

SELECT users.username, 
	   posts.title,
       users.id, 
       posts.id, 
       posts.description, 
       posts.photopath, 
       posts.created,
       posts.fk_userid
FROM users 
INNER JOIN posts On users.id=posts.fk_userid;

# MySQL Node Express API

https://www.youtube.com/watch?v=LVfH5FDOa3o

npm init -y
npm i express mysql
# watch server
npm i -D nodemon
npm run dev

/usr/local/mysql/bin/mysql -u root -p
SHOW DATABASES;

In [ ]:
# 1. print in the terminal
console.log(result)

# 2. print into the web page
res.send(results);



# monitor the web page

# set method
curl -X GET localhost:3000/dbtest/getAllUsers
# set head
curl -H "Content-Type: application/x-www-form-urlencoded" \
-X POST \
-d "username=tony&email=happy@icloud.com&password=0987fdjakfh" \
localhost:3000/dbtest/createUser


# set data
cur -